{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url({% static 'img/bg-img/breadcumb2.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Fashion Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="blog-wrapper section-padding-80">
        <div class="container">
            <div class="row">
               {% for item in posts %}
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-50">
                            {% if item.cover_image %}
                                    <img src="{{ item.cover_image.url }}">
                            {% else %}
                                    resim yok
                            {% endif %}
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="{{ item.get_absolute_url }}">{{item.title}}</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="{{ item.get_absolute_url }}">{{item.title}}</a>
                            </div>
                            <p>{{item.content}}</p>
                            <a href="{{ item.get_absolute_url }}">Continue reading <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

