{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            {% if post.cover_image %}
                  <img src="{{ post.cover_image.url }}" width="50%" >
            {% else %}
                  resim yok
             {% endif %}
        </div>

        <!-- Single Blog Content Wrap -->
        <div class="single-blog-content-wrapper d-flex">

            <!-- Blog Content -->
            <div class="single-blog--text">
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>

                
            </div>

            <!-- Related Blog Post -->
            <!--<div class="related-blog-post">-->
                <!-- Single Related Blog Post -->
               <!-- <div class="single-related-blog-post">
                    <img src="img/bg-img/rp1.jpg" alt="">
                    <a href="#">
                        <h5>Cras lobortis nisl nec libero pulvinar lacinia. Nunc sed ullamcorper massa</h5>
                    </a>
                </div> -->


        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->

{% endblock %}
   