{% extends 'base.html' %}
{% load static %}

{% block content %}
     {% for item in categories %}
         {% if item.type == 'slider' %}
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({{ item.cover_image.url }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                      
                        <div class="col-lg-4">
                            <div class="single-banner">
                                    <h6>asoss</h6>
                                    <h2>{{item.title}}</h2>
                                    <a href="{% url 'category_show' category_slug=item.slug %}">
                                    <h4>{{ item.title }}</h4>
                                    </a>
                            
                            </div>
                        </div>
                        {% endif %}
                   {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                {% for item in categories %}
                     {% if item.type == 'category' %}
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{item.cover_image.url}});">
                            <div class="catagory-content">
                                <a href="{% url 'category_show' category_slug=item.slug %}">{{item.title}}</a>
                            </div>
                        </div>
                    </div>
                 {% endif %}
            {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   {% for item in categories %}
                     {% if item.type == 'slider2' %}
                        <div class="cta-content bg-img background-overlay" style="background-image: url({{item.cover_image.url}});">
                            <div class="h-100 d-flex align-items-center justify-content-end">
                                <div class="cta--text">
                                    <h6>-60%</h6>
                                    <h2>{{item.title}}</h2>
                                    <a href="{% url 'category_show' category_slug=item.slug %}" class="btn essence-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">

                       {% for item in is_home_products %}
                       {% if item.is_home  %}
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                 {% if item.cover_image %}
                                        <img src="{{ item.cover_image.url }}" alt="">
                                {% else %}
                                            resim yok
                                {% endif %}
                                        <!-- Hover Thumb -->
                                {% if item.hover_image %}
                                            <img class="hover-img" src="{{ item.hover_image.url }}" alt="">
                                         {% else %}
                                            resim yok
                                {% endif %}
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>topshop</span>
                               <a href="single-product-details.html">
                                            <h6>{{item.title}}</h6>
                                        </a>
                                        <p class="product-price">${{item.salePrice}}</p>
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                                <a href="/products/detail/{{ item.pk }}" class="btn essence-btn">Go Detail</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

{% endblock %}