{% extends 'base.html' %}
{% load static %}

{% block content %}


<br><br><br>
<div class="container">
   <div class="row">
       <div class="<col-md-12></col-md-12>">
           <h1>Welcome {{request.user}}</h1>
           <br>
       </div>
   </div>
   <hr>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{% url 'shopcart' %}">Sepetim</a></li>
              <li class="list-group-item"><a href="{% url 'order_index' %}">Siparişlerim</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            Buraya Hesap Güncelleme ile ilgili kısımlar gelicek
        </div>
    </div>    
</div>
 
{% endblock %}